PUBLIC_SITE_URL=https://example.com
PUBLIC_X_URL=
PUBLIC_X_SHARE_URL=
PUBLIC_ROMACO_LITLINK_URL=https://lit.link/Romaco
PUBLIC_ROMACO_GAME_URL=https://booth.pm/ja/items/8668950
PUBLIC_ROMACO_SUBSTACK_URL=https://substack.com/@romaco
PUBLIC_HAGEDANGO_X_URL=https://x.com/dango333
PUBLIC_ANALYTICS_ID=
